body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3b4664;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.calculadora {
    background-color: #252d44;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 360px;
    text-align: center;
}

.pantalla-calculadora {
    width: 95%;
    height: 90px;
    border: none;
    background-color: #181f32;
    color: white;
    text-align: right;
    font-size: 3rem;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 0 10px;
}

.teclas-calculadora {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    background-color: #252d44;
    padding: 20px;
    border-radius: 10px;
}

button {
    height: 60px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

button.operador {
    background-color: #647198;
    color: white;
}

button.igual {
    background-color: #d13f30;
    color: white;
    grid-column: span 2;
}

button.reiniciar {
    background-color: #647198;
    color: white;
    grid-column: span 2;
}

button:active {
    background-color: #424e75;
}

button[value="DEL"] {
    background-color: #647198;
    color: white;
}
